includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
        - build-package
    treatPhpDocTypesAsCertain: false

    bootstrapFiles:
        - vendor/autoload.php